/*****************************
  NAV
*****************************/
.rev-logo {
  width: auto;
  height: 2em;
  margin-right: 2em;
}

.margin-nav {
  margin-right: 2em
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #000000;
}

.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .75rem;
  padding-left: .75rem;
}

.bg-light {
  background-color: #000000;
}

nav {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 20px;
  -webkit-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  -moz-box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
  box-shadow: 1px -12px 28px -1px rgba(0, 0, 0, 0.87);
}

/*****************************
  Auth Buttons
*****************************/
.btn-login {
  background-color: #f8f9fa;
  color: #000000;
}

.btn-login:hover, .btn-login:active, .btn-login:visited {
  background-color: #f16930;
  color: #ffffff !important;
}

.btn-register {
  background-color: #f8f9fa;
  color: #000000;
}

.btn-register:hover, .btn-register:active, .btn-register:visited {
  background-color: #aaaaaa;
  color: #ffffff !important;
}

.btn-logout {
  background-color: #f8f9fa;
  color: #000000;
}

.btn-logout:hover, .btn-logout:active, .btn-logout:visited {
  background-color: #a71616;
  color: #ffffff !important;
}

.dropdown-inline {
  display: inline-block;
}